<script defer src="/js/application.js"></script>
<div class="row">
    <div class="s4 offset-s4">
        <form id="account_id" action="/account" method="PUT">
        <div class="row">
            <div class="input-field col s4">
                <p>{{infa.firstName}}</p>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="input-field col s4">
                <p>{{infa.lastName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <p>{{infa.email}}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <p>{{infa.password}}</p>
            </div>
        <div class="row">
            <div class="input-field col s4">
               <p>{{infa.cityName}}</p>
            </div>
        </div>
            <button class="delete" type="submit">Submit</button>
        </div>
        </form>
    </div>
</div>
