<script defer src="./js/index-init.js"></script>
<script defer src="./js/application.js"></script>


<header class="nav-bar">
  <section class="block-wrapper_nav-bar">
    <a class="nav-bar__part-left" href="/">
      <img src="./img/whales-events_long.png" alt="" class="nav-bar__logo">
    </a>

    <div class="nav-bar__part-right">
      <a class="nav-bar__button nav-bar__button_active" href="/">
        Главная
      </a>

      {{#if user}}
      <a class="nav-bar__button" href="/account">
        Аккаунт
      </a>
      
      <a class="nav-bar__button" href="/logout">
        Выход
      </a>

      {{else}}

      <a class="nav-bar__button" href="/signIn">
        Вход
      </a>

      <a class="nav-bar__button" href="/signUp">
        Регистрация
      </a>

      {{/if}}
    </div>
  </section>
</header>


<main class="main">
  <section class="block-wrapper_search">

    <form class="input-bar_search" action="/search" id="search" method="POST">
      {{#if user}}
      <a class="input-bar__button input-bar_search_search" id="modal-btn">
        Создать мероприятие
      </a>
      {{else}}
      <a class="input-bar__button_dead input-bar_search_search" href="/signUp">
        Создать мероприятие
      </a>
      {{/if}}
      <div class="input-bar__input_select-m input-bar_search_search-place">
        <select id="citySelect" class="browser-default">
          <option data-post value="1" disabled selected>Место проведения</option>
          {{#each findCity}}
          <option data-id={{this.id}} value="{{this.id}}">{{this.cityName}}</option>
          {{/each}}
        </select>
      </div>

      <div class="input-bar__input_select-m input-bar_search_search-tags">
        <select id="tagSelect" class="browser-default">
          <option value="1" disabled selected>Тематика</option>
          {{#each findTags}}
          <option data-id={{this.id}} value="{{this.id}}">{{this.tagName}}</option>
          {{/each}}
        </select>
      </div>

      <button class="input-bar__button input-bar__button_search input-bar_search_search-start" type="submit">
        Поиск
      </button>
    </form>

  </section>
    <section class="block-wrapper_create">
    <div class="modal">
      <span class="close-btn">&times;</span>
      <form action="/create" method="POST" id="create">

        <div class="input-bar_create">
          <div class="input-bar__input_text input-bar_create_date">
            <input placeholder="Дата проведения" id="input_text" type="text" data-length="10" name="date">
          </div>

          <div class="input-bar__input_select input-bar_create_tag">
            <select id="tagSelect" class="browser-default" name="tagId">
              <option value="1" disabled selected>Тематика</option>
              {{#each findTags}}
              <option data-id={{this.id}} value="{{this.id}}">{{this.tagName}}</option>
              {{/each}}
            </select>
          </div>

          <div class="input-bar__input_select input-bar_create_place">
            <select id="citySelect" class="browser-default" name="cityId">
              <option data-post value="1" disabled selected>Место проведения</option>
              {{#each findCity}}
              <option data-id={{this.id}} value="{{this.id}}">{{this.cityName}}</option>
              {{/each}}
            </select>
          </div>

          <div class="input-bar__input_text input-bar_create_name">
            <input placeholder="Название" id="input_text" type="text" data-length="10" name="eventName">
          </div>

          <div class="input-bar__input_file input-bar_create_photo">
            <form action="#">
              <div class="input-bar__input_file-btn file-field">
                <div class="btn #29b6f6 light-blue lighten-1">
                  <span>ФАЙЛ</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input placeholder="Добавить фото" class="file-path validate" type="text">
                </div>
              </div>
            </form>
          </div>

          <button class="input-bar__button input-bar_create_save" type="submit">
            Сохранить
          </button>
        </div>
      </form>
    </div>
  </section>
  <section id="events" class="block-wrapper">

    {{#each events}}
    <div class="event">
      <img src="./img/bootcamp.jpeg" alt="" class="event__pic">

      <p class="event__tags">{{this.Tag.tagName}}</p>

      <h3 class="event__title">{{this.eventName}}</h3>

      <span class="event__stats event__stats-date">
        <img src="./img/svg/time.svg" alt="" class="event__icon">
        <p class="event__text">{{this.date}}</p>
      </span>

      <span class="event__stats event__stats-loc">
        <img src="./img/svg/map.svg" alt="" class="event__icon">
        <p class="event__text">{{this.City.cityName}}</p>

        {{!-- Вот это второй вариант, мол онлайн
        <img src="./img/svg/wifi.svg" alt="" class="event__icon">
        <p class="event__text">Онлайн-трансляция</p> 
        --}}


        
      </span>
    </div>
    {{/each}}
  </section>
</main>
